FASTAPI_TITLE='URL Shortner'
FASTAPI_VERSION='1.0.0'
FASTAPI_DESCRIPTION='Сервис сокращения ссылок'
FASTAPI_API_V1_PATH='/api/v1'
FASTAPI_DOCS_URL='/api/v1/docs'
FASTAPI_REDOCS_URL='/api/v1/redoc'
FASTAPI_OPENAPI_URL='/api/v1/openapi.json'

POSTGRES_HOST='shorten_postgres'
POSTGRES_PORT=5432
POSTGRES_USER='shortner_user'
POSTGRES_PASSWORD='shortner'
POSTGRES_DB='shortner_db'